*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#form{
    margin-top: 2rem;
    border: 1px solid rgb(134, 128, 128);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.3rem;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 10px rgb(204, 201, 201);
    width: 600px;
}
#form >div > input{
    height: 2rem;
    width: 100%;
    font-size: 1.5rem;
    padding:  0.5rem;
}
button{
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}